In [1]:
import yfinance as yf

# data = yf.download("irfc.NS", start="2020-01-01", end="2021-01-01")
data = yf.download("MANAPPURAM.NS", start="2024-01-01", end="2024-04-04")

[*********************100%%**********************]  1 of 1 completed

In [2]:
# data.head(10)

In [3]:
data = yf.download("HUDCO.NS", start="2024-03-01", end="2024-04-07")

[*********************100%%**********************]  1 of 1 completed

In [35]:
data['total'] = data['High']-data['Open']
# data['total1'] = data['Low']-data['Open']
data['status'] = data['total']>=4

In [36]:
data

,Open,High,Low,Close,Adj Close,Volume,total,status
Date,,,,,,,,
2024-03-01,192.899994,197.000000,192.899994,194.399994,192.840210,6756575,4.100006,True
2024-03-04,196.750000,198.800003,192.100006,195.600006,194.030594,7112998,2.050003,False
2024-03-05,195.500000,205.600006,195.050003,200.149994,198.544083,17553782,10.100006,True
2024-03-06,200.100006,204.500000,191.300003,195.899994,194.328186,11305930,4.399994,True
2024-03-07,197.000000,205.000000,196.600006,202.449997,200.825623,18374013,8.000000,True
2024-03-11,203.250000,203.899994,194.300003,195.449997,193.881790,8877092,0.649994,False
2024-03-12,196.000000,196.550003,181.500000,182.350006,180.886917,13617314,0.550003,False
2024-03-13,182.649994,186.500000,164.149994,164.149994,162.832932,15252429,3.850006,False
2024-03-14,155.300003,180.550003,152.550003,180.550003,179.101349,24873815,25.250000,True
2024-03-15,175.000000,192.100006,169.100006,188.800003,187.285156,42797939,17.100006,True
2024-03-18,190.000000,194.000000,180.000000,180.500000,179.051743,14403349,4.000000,True
2024-03-19,181.199997,185.300003,176.000000,177.149994,175.728622,10179360,4.100006,True
2024-03-20,179.600006,181.350006,170.800003,175.649994,174.240662,8318414,1.750000,False
2024-03-21,178.850006,187.300003,178.500000,182.149994,180.688507,11998276,8.449997,True
2024-03-22,182.699997,186.500000,181.050003,183.149994,181.680481,6769707,3.800003,False
2024-03-26,183.850006,187.949997,180.350006,184.149994,182.672455,7962081,4.099991,True
2024-03-27,185.399994,190.500000,184.649994,186.949997,185.449997,10128325,5.100006,True
2024-03-28,188.500000,193.550003,186.300003,187.250000,187.250000,9626885,5.050003,True
2024-04-01,188.050003,201.949997,188.050003,200.899994,200.899994,15528366,13.899994,True
2024-04-02,200.350006,202.800003,197.300003,199.250000,199.250000,9954698,2.449997,False
2024-04-03,198.600006,206.399994,197.850006,201.699997,201.699997,14065030,7.799988,True
2024-04-04,203.250000,209.350006,197.750000,207.149994,207.149994,19053118,6.100006,True
2024-04-05,208.500000,212.699997,205.399994,206.399994,206.399994,24370150,4.199997,True

In [29]:
data = data[data['status']== False]

In [33]:
data.count()[0]

7

In [14]:
# list(data['total'])

In [82]:
list(data.index.astype(str))

['2024-03-01',
 '2024-03-04',
 '2024-03-05',
 '2024-03-06',
 '2024-03-07',
 '2024-03-11',
 '2024-03-12',
 '2024-03-13',
 '2024-03-14',
 '2024-03-15',
 '2024-03-18',
 '2024-03-19',
 '2024-03-20',
 '2024-03-21',
 '2024-03-22',
 '2024-03-26',
 '2024-03-27',
 '2024-03-28',
 '2024-04-01',
 '2024-04-02',
 '2024-04-03',
 '2024-04-04',
 '2024-04-05']